
*.gz

7. Image Classification/cifar-10-batches-py/data_batch_4

7. Image Classification/cifar-10-batches-py/data_batch_1

7. Image Classification/cifar-10-batches-py/data_batch_1

7. Image Classification/cifar-10-batches-py/data_batch_3
